In [1]:
from sklearn.cluster import DBSCAN
from sklearn.metrics import silhouette_score, homogeneity_completeness_v_measure
import matplotlib.pyplot as plt 
import pandas as pd

In [2]:
df=pd.read_csv('C:\\Users\\Emmanuel\\Documents\\CC_GENERAL.csv')

In [3]:
customer_ids = df.CUST_ID
df = df.drop(columns="CUST_ID")

In [92]:
df

,BALANCE,BALANCE_FREQUENCY,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,CASH_ADVANCE,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES_TRX,CREDIT_LIMIT,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,TENURE
0,40.900749,0.818182,95.40,0.00,95.40,0.000000,0.166667,0.000000,0.083333,0.000000,0,2,1000.0,201.802084,139.509787,0.000000,12
1,3202.467416,0.909091,0.00,0.00,0.00,6442.945483,0.000000,0.000000,0.000000,0.250000,4,0,7000.0,4103.032597,1072.340217,0.222222,12
2,2495.148862,1.000000,773.17,773.17,0.00,0.000000,1.000000,1.000000,0.000000,0.000000,0,12,7500.0,622.066742,627.284787,0.000000,12
3,1666.670542,0.636364,1499.00,1499.00,0.00,205.788017,0.083333,0.083333,0.000000,0.083333,1,1,7500.0,0.000000,0.000000,0.000000,12
4,817.714335,1.000000,16.00,16.00,0.00,0.000000,0.083333,0.083333,0.000000,0.000000,0,1,1200.0,678.334763,244.791237,0.000000,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8945,28.493517,1.000000,291.12,0.00,291.12,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,325.594462,48.886365,0.500000,6
8946,19.183215,1.000000,300.00,0.00,300.00,0.000000,1.000000,0.000000,0.833333,0.000000,0,6,1000.0,275.861322,0.000000,0.000000,6
8947,23.398673,0.833333,144.40,0.00,144.40,0.000000,0.833333,0.000000,0.666667,0.000000,0,5,1000.0,81.270775,82.418369,0.250000,6
8948,13.457564,0.833333,0.00,0.00,0.00,36.558778,0.000000,0.000000,0.000000,0.166667,2,0,500.0,52.549959,55.755628,0.250000,6
8949,372.708075,0.666667,1093.25,1093.25,0.00,127.040008,0.666667,0.666667,0.000000,0.333333,2,23,1200.0,63.165404,88.288956,0.000000,6

In [5]:
df.isnull().sum()

BALANCE                               0
BALANCE_FREQUENCY                     0
PURCHASES                             0
ONEOFF_PURCHASES                      0
INSTALLMENTS_PURCHASES                0
CASH_ADVANCE                          0
PURCHASES_FREQUENCY                   0
ONEOFF_PURCHASES_FREQUENCY            0
PURCHASES_INSTALLMENTS_FREQUENCY      0
CASH_ADVANCE_FREQUENCY                0
CASH_ADVANCE_TRX                      0
PURCHASES_TRX                         0
CREDIT_LIMIT                          1
PAYMENTS                              0
MINIMUM_PAYMENTS                    313
PRC_FULL_PAYMENT                      0
TENURE                                0
dtype: int64

In [6]:
df=df.fillna(0)

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
df_normalizado=pd.DataFrame(StandardScaler().fit_transform(df))

In [9]:
estimador=DBSCAN()
cluster_labels=estimador.fit_predict(df_normalizado)

In [98]:
cluster_labels

array([ 0, -1, -1, ..., -1, -1, -1], dtype=int64)

In [11]:
pd.Series(cluster_labels).value_counts()

-1     6627
 0     1948
 10      60
 2       34
 15      30
 14      23
 7       23
 8       14
 6       13
 3       11
 29      10
 21       9
 5        9
 9        8
 26       8
 12       8
 1        8
 17       7
 19       7
 27       7
 11       7
 13       6
 4        6
 23       6
 31       5
 35       5
 16       5
 18       5
 25       5
 24       5
 28       5
 20       5
 22       5
 30       5
 34       4
 32       4
 33       3
dtype: int64

In [57]:
from sklearn.model_selection import ParameterSampler
from scipy.stats import uniform
parametros= {'eps': uniform(0,7) ,'min_samples':[5,10,15], 'metric': ['euclidean', 'manhattan', 'mahalanobis']}

In [58]:
lista=list(ParameterSampler(parametros,n_iter= 15))
lista

[{'eps': 0.5883535390686306, 'metric': 'euclidean', 'min_samples': 15},
 {'eps': 2.2311641629352277, 'metric': 'euclidean', 'min_samples': 10},
 {'eps': 5.408090607831616, 'metric': 'euclidean', 'min_samples': 5},
 {'eps': 4.46822288547042, 'metric': 'manhattan', 'min_samples': 10},
 {'eps': 3.9465626836303005, 'metric': 'mahalanobis', 'min_samples': 15},
 {'eps': 0.7106652895478567, 'metric': 'euclidean', 'min_samples': 10},
 {'eps': 3.1539862273898613, 'metric': 'mahalanobis', 'min_samples': 10},
 {'eps': 0.9031870112906961, 'metric': 'mahalanobis', 'min_samples': 15},
 {'eps': 2.18910251101791, 'metric': 'manhattan', 'min_samples': 10},
 {'eps': 2.900304537152069, 'metric': 'mahalanobis', 'min_samples': 5},
 {'eps': 2.265209781730525, 'metric': 'euclidean', 'min_samples': 10},
 {'eps': 3.6323161413117666, 'metric': 'mahalanobis', 'min_samples': 10},
 {'eps': 5.132890839566071, 'metric': 'euclidean', 'min_samples': 10},
 {'eps': 6.013240196307715, 'metric': 'mahalanobis', 'min_samples': 10},
 {'eps': 2.4979066781127037, 'metric': 'mahalanobis', 'min_samples': 10}]

In [59]:
def evaluacion_estimador(data_frame, lista):
    resultados=[]
    for parametros in lista:
        estimador=DBSCAN(**parametros)                       
        labels=estimador.fit_predict(data_frame)
        score=silhouette_score(data_frame,labels)
        resultados.append([f'{parametros} con puntuacion', score])
    return resultados

In [63]:
resultados=evaluacion_estimador(df_normalizado, lista=lista)

In [65]:
sorted(resultados, key= lambda x: x[1], reverse=True)[:5]

[["{'eps': 5.132890839566071, 'metric': 'euclidean', 'min_samples': 10} con puntuacion",
  0.7545839721839247],
 ["{'eps': 6.013240196307715, 'metric': 'mahalanobis', 'min_samples': 10} con puntuacion",
  0.734202093230542],
 ["{'eps': 5.408090607831616, 'metric': 'euclidean', 'min_samples': 5} con puntuacion",
  0.7125917364429354],
 ["{'eps': 3.9465626836303005, 'metric': 'mahalanobis', 'min_samples': 15} con puntuacion",
  0.6214972607332095],
 ["{'eps': 3.6323161413117666, 'metric': 'mahalanobis', 'min_samples': 10} con puntuacion",
  0.6049021389263248]]

In [66]:
mejores_parametros={'eps': 5.132890839566071, 'metric': 'euclidean', 'min_samples': 10}
estimador=DBSCAN(**mejores_parametros)

In [69]:
etiquetas=estimador.fit_predict(df_normalizado)

In [71]:
pd.Series(etiquetas).unique()

array([ 0, -1], dtype=int64)

In [77]:
pd.Series(etiquetas).value_counts()

 0    8890
-1      60
dtype: int64

In [80]:
def resumen_cluster(cluster_id):
    cluster = df[etiquetas==cluster_id]
    resumen_cluster=cluster.mean().to_dict()
    resumen_cluster["cluster_id"] = cluster_id
    return resumen_cluster

def comparar_clusters(*cluster_ids):
    resumenes = []
    for cluster_id in cluster_ids:
        resumenes.append(resumen_cluster(cluster_id))
    return pd.DataFrame(resumenes).set_index("cluster_id").T

In [81]:
comparar_clusters(0,-1)

cluster_id                                  0            -1
BALANCE                           1533.825528   6105.679342
BALANCE_FREQUENCY                    0.876760      0.952879
PURCHASES                          913.825375  14246.261333
ONEOFF_PURCHASES                   531.828127   9572.707000
INSTALLMENTS_PURCHASES             382.299456   4673.554333
CASH_ADVANCE                       942.835281   6318.180108
PURCHASES_FREQUENCY                  0.488546      0.757677
ONEOFF_PURCHASES_FREQUENCY           0.200307      0.521089
PURCHASES_INSTALLMENTS_FREQUENCY     0.362622      0.633427
CASH_ADVANCE_FREQUENCY               0.134107      0.288763
CASH_ADVANCE_TRX                     3.135208     20.083333
PURCHASES_TRX                       14.157480     96.550000
CREDIT_LIMIT                      4435.222512  13195.000000
PAYMENTS                          1612.206417  19652.040455
MINIMUM_PAYMENTS                   778.043715   9122.388040
PRC_FULL_PAYMENT                     0.152751      0.296444
TENURE                              11.516085     11.700000